{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block main-content %}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card">
                <img class="img-thumbnail" src="{% static 'app/images/product/pralhad-thak (1).jpg' %}" alt="" style="height: 400px;">

                <div class="card-body">
                    <h3 class="card-title">PRALHAD THAK</h3>
                    <h5>(Artists)</h5>

                    <p class="card-text">
                        I am an Art Teacher at Anandwan, which was set up by Baba Amte. I teach art in the Deaf-Mute school within the Anandwan campus and I also give art inputs and guidance to students and also for artisans at the art-shoppe in the Anandwan campus. I am well-known for my grain-rangolis and I am often invited for cultural festivals to make theme-based grain-rangolis.
                    </p>

                  
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'app/images/banner/b9.jpg' %}" alt="">

                <div class="card-body">
                    <h5 class="card-title">LARGEST NUMBER OF PAINTINGS BRUSHED WITH OWN BLOOD</h5>
                    <p class="card-text">

 I am created  paintings of freedom fighters and eminent personalities of India with my own blood. Paintings are having average size of 12×15 inch.
                    </p>
                      
                   
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'app/images/product/rangoli.jpg' %}" alt="">

            <div class="card-body">
                <h5 class="card-title">LARGEST RANGOLI CREATED BY AN INDIVIDUAL</h5>
                <p class="card-text">
                    I am created the largest Rangoli of size 9290.64 sq. meters (100004.4 Sq. Ft.) at the police parade headquarter, Chandrapur. Rangoli titled ‘great temple of humanity’ took 70 Hrs. and 45 Min. to complete.
                </p>
                  
                
            </div>
        </div>
</div

{% endblock main-content %}